mainmenu "RT-Thread Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config WIOTA_PS_DIR
    string
    option env="WIOTA_PS_ROOT"
    default "PS"

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "rt-thread"

source "$RTT_DIR/Kconfig"
source "$WIOTA_PS_DIR/Kconfig"
source "board/Kconfig"
source "applications_example/Kconfig"
