menu "wiota APP"

config UC8288_MODULE
    bool "use at cmd, default open(UC8288_MODULE)"
    default y

config GATEWAY_MODE_SUPPORT
    bool "single gateway at cmd, default open(GATEWAY_MODE_SUPPORT)"
    default y

if RT_USING_ADC
    config _ADC_APP_
        bool "open adc, default close(_ADC_APP_)"
        default n
endif

if RT_USING_CAN
    config _CAN_APP_
        bool "open can, default close(_CAN_APP_)"
        default n
endif

if RT_USING_DAC
    config _DAC_APP_
        bool "open dac, default close(_DAC_APP_)"
        default n
endif

if RT_USING_PIN
    config _PIN_APP_
        bool "open pin, default close(_PIN_APP_)"
        default n
endif

if RT_USING_WDT
    config _WATCHDOG_APP_
        bool "open wdt, default close(_WATCHDOG_APP_)"
        default n
endif

if RT_USING_RTC
    config _RTC_APP_
        bool "open rtc, default close(_RTC_APP_)"
        default n
endif

if RT_USING_PWM
    config _PWM_APP_
        bool "open pwm, default close(_PWM_APP_)"
        default n
endif

endmenu
